*{
    margin: 0;
    padding: 0;
    font-size: 1.6vw;
}
#icone{
    display: none;
}
.scndPurpledDiv{
    position: relative;
    margin-bottom: 30vw

}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    height: fit-content;
    margin: auto;
    width: 80%;
}
nav span{
    font-size: 1.8vw;
    margin-right: 2vw;
}
.section1{
    text-align: center; 
    position: relative; 
    height: fit-content; 
    display: flex; 
    padding-bottom: 30vw;
    flex-direction: column; 
    align-items: center;
    width: 80vw;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    height: fit-content;
    padding: 2vw 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.title{
    color: #141C3A;
    font-size: 4.55vw;
    margin: 5% 0;
}
.title1{
    color: #141C3A;
    font-size: 2.5vw;
    margin: 5% 0;
}
.square{
    height: 20vw;
    width: 28vw;
    background-color: #141C3A;
    margin-top: 5vw;
    position: relative;
}
.square span{
    font-size: 2.2vw
}
.desktop-home{
    display: block;
    width: 60vw;
}

.fa-chevron-down{
    transform: rotate(-90deg);
    color: black;
}
.mt-2{
    margin-top: 12vw;
}
.logosquare{
    width: 7vw;
    height: 4vw;
    border: 0.4vw solid #9E58F9;
}
.logosquare img{
    width: 2.2vw;
    height: 2vw;
}
.logosquareDiv{
    width: 40vw; 
    display:flex; 
    justify-content:space-around;
}
.ID-photo{
    width: 30vw;
    clip-path: circle();
}
.SecondSection1stDiv{
    background-color: #7510F7; 
    height:fit-content; 
    padding: 0 0 20vw 0;
    display: flex; 
    align-items: center; 
    flex-direction: column;
}
.section2{
    position: relative;
    margin-bottom: 45vw;
}
.SecondSectionTitle{
    color: white;  
    margin-top: 5%; 
    font-size: 3vw; 
    text-align: center
}
.SecondSectionParagraph{
    color: white; 
    font-size: 1.8vw; 
    text-align: center;
    width: 50%;
}
.section3{
    display: flex; 
    flex-direction: column; 
    align-items:center;
    margin-bottom: 8vw;
}
.competences{
    height: fit-content; 
    display: flex; 
    width: 85vw; 
    margin-left: 6vw; 
    position: absolute; 
    top: 70%; 
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
}
.CompetencesDiv{
    width:33.33%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%
}
.CompetencesDiv img{
    width: 15vw;
}
.CompetencesDiv span{
    font-size: 1.8vw
}
.CompetencesDiv p{
    font-size: 1.5vw; 
    margin-top: 3%; 
    text-align: center;
}
.thirdSection2ndDiv{
    display: flex; 
    justify-content: space-between;
    width: 60vw;
}
.DivCompanies{
    display: flex; 
    justify-content: space-between; 
    width: 60vw; 
    margin-top: 5%; 
}
.LogoCompanies{
    width: 25%;
}
.startuptext{
    color: white;
    text-align: center; 
    margin-bottom: 15%;
    font-size: 20px;
    width: 50%;
}
.startup{
    height: fit-content; 
    display: flex; 
    justify-content: space-around; 
    width: 97%; 
    margin: 0 1.5%;
    position: absolute; 
    bottom: -30%;
}
.startupDiv{
    width:32%; 
    height: 30vw; 
    background-color: white; 
    border-radius: 15px; 
    box-shadow: 10px 10px 5px #dee0e0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.fifthsection{
    margin-top: 10vw;
}
.lastp{
    text-align: center;
    font-size: 2.3vw;
    color: #141C3A;
    margin-top: 5vw;
}
.lastdiv{
    margin-top: 10vw;
    margin-bottom: 10vw;
    
}
.upperdivfooter{

    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    position: absolute; 
    top: 0%;
    transform: translateY(-50%);
}
.upperdivfooterBg{
    width:90%; 
    height: 10vw; 
    background-color: #141C3A; 
    border-radius: 15px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.startproject{
    font-size: 2.2vw;
     color: #ffffff;
     text-align: center;
}
.interested{
    color: #ffffff; 
    text-align:center;
}
.buttonfooter{

    border-radius: 4vw;
    border: solid 0.2vw #7510F7;
    background-color: #141C3A;
    color: #ffffff;
    font-size: 2vw;
    padding: 1vw 2vw;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
 
}
.buttonfooter:hover{
    border: solid 0.2vw #ffffff;

}
.buttonfooter::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 25px;
    background-color: #7510F7;
}
.buttonfooter:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    
}
.section6{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.button6{
    border-radius: 25px;
    border: solid 2px #7510F7;
    background-color: transparent;
    color: #7510F7;
    font-size: 17px; 
    width: 260px; 
    height:54px; 
    margin-top: 10vh;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
}
.button6:hover{
    border: solid 2px #141C3A;
    font-size: 21px;
    font-weight: bold;
    color: #141C3A;
}
.button6::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 22px;
    background-color: #7510F7;
}
.button6:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    
}
.section6 button{
    margin-top: 5vw;
}
.button5{
    border-radius: 25px;
    border: solid 2px #7510F7;
    background-color: transparent;
    color: #7510F7;
    font-size: 17px;  
    width: 161px; 
    height:45px;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
}
.button5:hover{
    border: solid 2px #141C3A;
    font-size: 21px;
    font-weight: bold;
    color: #141C3A;
}
.button5::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 20px;
    background-color: #7510F7;
}
.button5:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.button4{
    border-radius: 4vw;
    border: solid 2px #7510F7;
    background-color: #141C3A;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
    color: white; 
    font-size: 2.2vw; 
    width: fit-content; 
    height:fit-content;  
    padding: 1vw;
    top: 70%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    position: absolute;
}
.button4:hover{
    border: solid 2px #ffffff;
    font-size: 2.2vw;
    font-weight: bold;
}
.button4::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 4vw;
    background-color: #7510F7;
}
.button4:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    
}
.button{
    width: fit-content;
    padding: 1vw 2vw;
    height:fit-content;
    border-radius: 2vw;
    border: solid 0.2vw #7510F7;
    background-color: transparent;
    color: #7510F7;
    font-size: 1.8vw;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;

}

.button:hover{
    color: #141C3A;
}
.button::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 20px;
    background-color: #7510F7;
}
.button:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


@media only screen and (max-width: 720px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #icone{
        display: inline;
        font-size: 5vw;
        margin-top: 5vw;
        margin-right: 5vw;
    }
    .section1{
        text-align: center; 
        position: relative; 
        height: fit-content; 
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header{
        height: fit-content;
        margin: auto;
        width: 100%;
    }
    nav{
        height: fit-content;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    nav span{
        font-size: 5vw;
        margin-right: 2vw;
        display: none;
    }
    nav .button{
        display: none;
    }
    
    .title{
        color: #141C3A;
        font-size: 7vw;
        margin: 5% 0;
    }
    .square{
        height: 40vw;
        width: 56vw;
        background-color: #141C3A;
        margin-top: 5vw;
        position: relative;
    }
    .square span{
        font-size: 5vw
    }
    .fa-chevron-down{
        transform: rotate(-90deg);
        color: black;
    }
    .logosquare{
        width: 7vw;
        height: 4vw;
        border: 0.4vw solid #9E58F9;
    }
    .logosquare img{
        width: 2.2vw;
        height: 2vw;
    }
    .logosquareDiv{
        width: 40vw; 
        display:flex; 
        justify-content:space-around;
        margin-bottom: 10vw;
    }
.desktop-home{
    display: none;
}
.ID-photo{
    width: 55vw;
    clip-path: circle();
}
.SecondSectionTitle{
    color: white;  
    margin-top: 5%; 
    font-size: 6vw; 
    text-align: center
}
.SecondSectionParagraph{
    color: white; 
    font-size: 4.5vw; 
    text-align: center;
    width: 85%;
}
.SecondSection1stDiv{
    background-color: #7510F7; 
    height:fit-content; 
    display: flex; 
    align-items: center; 
    flex-direction: column;
    padding-bottom: 30vw;
}
.competences{
    height: fit-content; 
    width: 88%; 
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 80%; 
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.CompetencesDiv{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0vw;
    margin-bottom: 35vw
}
.CompetencesDiv img{
    width: 30vw;
}
.CompetencesDiv span{
    font-size: 6vw
}
.CompetencesDiv p{
    font-size: 5vw; 
    margin-top: 3%; 
    text-align: center;
}
.section2{
    position: relative;
    margin-bottom: 425vw;
}
.thirdSection2ndDiv{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}
.DivCompanies{
    display: flex; 
    justify-content: space-between; 
    width: 90vw; 
    margin-top: 10%; 
    margin-bottom: 40vw;
}
.LogoCompanies{
    width: 30%;
}
.thirdsection1stdiv2ndP{
    width: 80vw;
    font-size: 5vw;
    text-align: center;
}
.thirdsection1stdiv2ndP span{
    font-size: 5vw;
    text-align: center;
}
.startuptext{
    color: white;
    text-align: center; 
    margin-bottom: 45%;
    font-size: 17px;
    width: 90%
}
.startup{
    height: fit-content;
    width: fit-content; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    width: fit-content; 
    position: absolute; 
    bottom: -110%;
    left: 50%;
    transform: translate(-50%,50%);
}
.startupDiv{
    width:80vw; 
    height: 70vw; 
    background-color: white; 
    border-radius: 15px; 
    box-shadow: 10px 10px 5px #dee0e0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-bottom: 10vw;
}
.startupDiv span{
    font-size: 4vw;
}
.fifthsection{
    margin-bottom: 250vw;
}
.lastp{
    text-align: center;
    font-size: 4.5vw;
    width: 70vw;
    color: #141C3A;
    margin-top: 5vw;
}
.lastdiv{
    margin-top: 10vw;
}
.section6{
    margin-bottom:10vw
}
footer{
    margin-top: 20vw;
}
.upperdivfooter{
    display: flex; 
    justify-content: space-around; 
    width: 100vw; 
    position: absolute; 
    top: 0%;
    transform: translateY(-50%);
}
.upperdivfooterBg{
    width:90%; 
    height: 20vw; 
    background-color: #141C3A; 
    border-radius: 15px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.startproject{
    font-size: 20px;
     color: #ffffff;
     width:20%;
     text-align: center;
}
.interested{
    color: #ffffff; 
    text-align:center;
    width: 45%;
    font-size:3vw;
}

.buttonfooter{

    border-radius: 4vw;
    border: solid 0.2vw #7510F7;
    background-color: #141C3A;
    color: #ffffff;
    font-size: 3.5vw;
    padding: 1vw 2vw;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
 
}
.buttonfooter:hover{
    border: solid 0.2vw #ffffff;

}
.buttonfooter::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 25px;
    background-color: #7510F7;
}
.buttonfooter:hover{
    border: solid 0.2vw #ffffff;
    font-size: 3.5vw;
    font-weight: 100;
}
.buttonfooter::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 25px;
    background-color: #7510F7;
}
.buttonfooter:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    
}

.title1{
    color: #141C3A;
    font-size: 6vw;
    margin: 5% 0;
}
.mt-2{
    margin-top: 20vw;
}
.button6{
    border-radius: 25px;
    border: solid 2px #7510F7;
    background-color: transparent;
    color: #7510F7;
    font-size: 17px; 
    width: 260px; 
    height:54px; 
    margin-top: 10vh;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
}
.button6:hover{
    border: solid 2px #141C3A;
    font-size: 21px;
    font-weight: bold;
    color: #141C3A;
}
.button6::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 22px;
    background-color: #7510F7;
}
.button6:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    
}
.button5{
    border-radius: 25px;
    border: solid 2px #7510F7;
    background-color: transparent;
    color: #7510F7;
    font-size: 17px;  
    margin-top: 10vh;
    width: 161px; 
    height:45px;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
}
.button5:hover{
    border: solid 2px #141C3A;
    font-size: 21px;
    font-weight: bold;
    color: #141C3A;
}
.button5::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 20px;
    background-color: #7510F7;
}
.button5:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.button4{
    border-radius: 4vw;
    border: solid 0.5vw #7510F7;
    background-color: #141C3A;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
    color: white; 
    font-size: 4.5vw; 
    width: fit-content; 
    height:fit-content;  
    padding: 1vw 3vw;
    top: 70%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    position: absolute;
}
.button4:hover{
    border: solid 0.5vw #ffffff;
    font-size: 4.5vw;
    font-weight: 100;
}
.button4::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 4vw;
    background-color: #7510F7;
}
.button4:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    
}
.button{
    width: fit-content; 
    height:fit-content;  
    border-radius: 25px;
    border: solid 0.5vw #7510F7;
    background-color: transparent;
    color: #7510F7;
    font-size: 4.5vw;
    cursor: pointer ;
    transition: ease-out 0.3s;
    outline: none ;
    position: relative;
    z-index: 1;
    padding: 1vw 3vw;
}
.button:hover{
    border: solid 0.5vw #141C3A;
    font-size: 4.5vw;
    font-weight: 100;
    color: #141C3A;
}
.button::before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 20px;
    background-color: #7510F7;
}
.button:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.mobilefirst{
    display: inline;
    background-color: #7510F7;
}
}